.myBtn {
    padding: 5px 15px;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #3ebee5, #4448DA);
    border-image-slice: 1;
    background: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}
.myBtn:hover {
    border-image: linear-gradient(to right, #3ebee5, #4448DA);
    border-image-slice: 1;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #4448DA, #3ebee5);
    transition: .5s ease;
}